---
layout: layouts/base.njk
title: No hay nada aquí 🙃
description: "Página 404 de Perro Dinero con enlaces para volver al inicio o al archivo de publicaciones."
permalink: 404.html
---
<h1 class="font-black text-accent-500 dark:text-accent-dark-500 mb-8">
  Mi olfato me dice que escribiste o copiaste mal la URL 🙃
</h1>

<p>No hay pedo, disfruta una foto de Nina mientras decides a dónde quieres ir:</p>

<div class="my-8">
  {% image 'img/nina_404.jpg', 'Nina bostezando mientras abraza un peluche de Totoro.', false, '', 'lazy', '', '(min-width: 768px) 640px, 100vw' %}
</div>
<div class="mb-16 flex flex-col space-y-4">
  <a class="font-black text-accent-500 dark:text-accent-dark-500" href="/">🔗 Página principal </a>
  <a class="font-black text-accent-500 dark:text-accent-dark-500" href="/posts/">🔗 Lista de posts</a>
</div>
