---
layout: layouts/base.njk
title: Perro Dinero App
description: "Toma el control de tu dinero"
cover_path: img/perro_dinero.png
---

<article class="">
  <h1 class="font-black text-4xl text-accent-500 dark:text-accent-dark-500">Toma el control<br>de tu dinero.</h1>
  <div class="py-4">
    <p><strong>Antes</strong> de Perro Dinero:</p>
    <ul class="list-none">
      <li class="my-2">😩&nbsp Atado a deudas</li>
      <li class="my-2">📉&nbsp Sin inversiones</li>
      {# <li class="my-2">🤷🏻‍♂ &nbsp️Sin un plan</li> #}
      <li class="my-2">😣&nbsp Estresado por tu futuro</li>
    </ul>
    <p><strong>Después</strong> de Perro Dinero:</p>
    <ul>
      <li class="my-2">🤑&nbsp Libre de deudas</li>
      <li class="my-2">📈&nbsp Con inversiones seguras</li>
      {# <li class="my-2">🗺&nbsp Con un plan para alcanzar tu libertad</li> #}
      <li class="my-2">😌&nbsp En total control de tu futuro financiero</li>
    </ul>
    <a class="button--outline block" href="/posts/">Empieza ya 🐕</a>
  </div>
</article>
