---
layout: layouts/base.njk
title: Perro Dinero App
description: "Toma el control de tu dinero"
cover_path: img/perro_dinero.png
---

<article class="">
  <h1 class="font-black text-4xl text-accent-500 dark:text-accent-dark-500">Toma el control<br>de tu dinero.</h1>
  <div class="py-4">
    <p><strong>Antes</strong> de Perro Dinero:</p>
    <ul class="list-none">
      <li class="my-2">😩&nbsp Atado a deudas</li>
      <li class="my-2">📉&nbsp Sin inversiones</li>
      {# <li class="my-2">🤷🏻‍♂ &nbsp️Sin un plan</li> #}
      <li class="my-2">😣&nbsp Estresado por tu futuro</li>
    </ul>
    <p><strong>Después</strong> de Perro Dinero:</p>
    <ul>
      <li class="my-2">🤑&nbsp Libre de deudas</li>
      <li class="my-2">📈&nbsp Con inversiones seguras</li>
      {# <li class="my-2">🗺&nbsp Con un plan para alcanzar tu libertad</li> #}
      <li class="my-2">😌&nbsp En total control de tu futuro financiero</li>
    </ul>
    <a class="button--outline block" href="https://perrodinero.app">Empieza ya 🐕</a>
  </div>

  <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">La herramienta para<br>estabilizar tus
  finanzas 🛠</h2>

  <p>Hay tantas cosas que administrar para tener buena salud financiera; deudas, ahorro, impuestos,
  inversiones, presupuestos, retiro y más 🤯. <strong>Perro Dinero está para ayudarte a aprender, controlar y
  mejorar</strong> en cada aspecto de tu vida financiera.
  </p>

  <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">¿Hasta el cuello de deudas? 😵</h2>

  <p>Crea un plan para liquidar tus deudas lo más pronto y con el menor interés posible. <strong>¿Qué deuda pago
  primero? ¿Cómo organizo mis abonos a capital?</strong> Te ayudamos a responder todas estas preguntas.</p>

  <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">Invierte hoy, para ser libre mañana 🙌</h2>

  <p>Tu Afore por sí solo no será suficiente para retirarte cómodamente. <strong>Tienes que invertir por tu cuenta.</strong> ¿No sabes cómo? Aquí te enseñamos y te damos un portafolio de inversiones diversificado para que
  empieces.</p>

  <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">Que el SAT no se aproveche de tí 🥊</h2>

  <p>Nadie se salva de pagar impuestos, pero hay muchas cosas que puedes hacer para que no te metan un gol.
  <strong>Diseña una estrategia fiscal especial para tí</strong>, y hazle frente a los temidos impuestos.</p>
</article>
