---
layout: layouts/base.njk
title: Perro Dinero App
description: "Toma el control de tu dinero"
cover_path: img/perro_dinero.png
---

<section class="">
  <h1 class="font-black text-5xl text-accent-500 dark:text-accent-dark-500 full-width text-center">Toma el control de tu
   dinero.</h1>
  <p class="mt-4 full-width text-center">Inversiones, impuestos, ahorro y más. <br>En un solo lugar.</p>
  <a class="mt-8 button--outline rounded-full block" href="https://perrodinero.app">PRUEBA PERRO DINERO 🐕</a>

  <div class="py-16 flex justify-center sm:justify-between flex-wrap">
    <div>
      <p><strong>Antes</strong> de Perro Dinero:</p>
      <ul class="list-none">
        <li class="my-2">😩&nbsp Atado a deudas</li>
        <li class="my-2">📉&nbsp Sin inversiones</li>
        {# <li class="my-2">🤷🏻‍♂ &nbsp️Sin un plan</li> #}
        <li class="my-2">😣&nbsp Estresado por tu futuro</li>
      </ul>
    </div>
    <div>
      <p><strong>Después</strong> de Perro Dinero:</p>
      <ul>
        <li class="my-2">🤑&nbsp Libre de deudas</li>
        <li class="my-2">📈&nbsp Con inversiones seguras</li>
        {# <li class="my-2">🗺&nbsp Con un plan para alcanzar tu libertad</li> #}
        <li class="my-2">😌&nbsp En total control de tu futuro</li>
      </ul>
    </div>
  </div>

  <section class="full-width no-hyphens space-y-12 mb-12">
    <div>
      <section class="grid grid-cols-1 md:grid-cols-2 gap-y-2 md:gap-x-16">
          <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">La herramienta para estabilizar tus
              finanzas 🛠
          </h2>
          <div></div>
          <p>
            Hay tantas cosas que administrar para tener buena salud financiera; deudas, ahorro, impuestos, inversiones,
            presupuestos, retiro y más 🤯.
          </p>
          <p>
            Perro Dinero está para ayudarte a aprender, controlar y mejorar en cada aspecto de tu vida financiera.
          </p>
      </section>
    </div>

    <div>
      <section class="grid grid-cols-1 md:grid-cols-2 gap-y-2 md:gap-x-16 pb-6">
          <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">Que el SAT no se aproveche de tí 🥊
          </h2>
          <div></div>
          <p>
            Nadie se salva de pagar impuestos, pero hay muchas cosas que puedes hacer para reducirlos.
          </p>
          <p>
            Diseña una estrategia fiscal especial para tí, y hazle frente al fisco.
          </p>
      </section>
      <a class="button--outline rounded-full block sm:inline" href="https://perrodinero.app">Reduce tus impuestos
      👉</a>
    </div>

    <div>
      <section class="grid grid-cols-1 md:grid-cols-2 gap-y-2 md:gap-x-16 pb-6">
          <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">Invierte hoy, para ser libre mañana 🙌
          </h2>
          <div></div>
          <p>
            Tu Afore por sí solo no será suficiente para retirarte cómodamente. Tienes que invertir por tu cuenta.
          </p>
          <p>
            ¿No sabes cómo? Aquí te enseñamos y te damos un portafolio de inversiones diversificado para que empieces.
          </p>
      </section>
      <button class="button--outline rounded-full block w-full sm:w-auto sm:inline cursor-not-allowed disabled
      opacity-50">¡Próximamente!</button>
    </div>

    <div>
      <section class="grid grid-cols-1 md:grid-cols-2 gap-y-2 md:gap-x-16 pb-6">
          <h2 class="font-black text-2xl text-accent-500 dark:text-accent-dark-500">¿Hasta el cuello de deudas? 😵
          </h2>
          <div></div>
          <p>
            Crea un plan para liquidar tus deudas lo más pronto y con el menor interés posible.
          </p>
          <p>
            ¿Qué deuda pago primero? ¿Hago abonos a capital? Te ayudamos a responder todas estas
            preguntas.
          </p>
      </section>
      <button class="button--outline rounded-full block w-full sm:w-auto sm:inline cursor-not-allowed disabled
      opacity-50">¡Próximamente!</button>
    </div>

    <h1 class="font-black text-5xl text-accent-500 dark:text-accent-dark-500 full-width text-center">¿Cuánto cuesta?</h1>

    <section class="flex flex-wrap lg:flex-nowrap space-y-16 lg:space-y-0 space-x-0 lg:space-x-4 justify-center
    md:justify-evenly">
      <section class="p-4 bg-foreground-dark rounded-md shadow-lg pricing-plan relative">
        <h2 class="text-center">Plan Pug</h2>
        <hr class="my-4">
        <p class="text-center">Únicamente modulo de impuestos</p>
        <p class="mt-6 flex items-center justify-center text-4xl font-bold">$47 pesos&nbsp;<span class="text-sm
        opacity-75">+&nbsp;
        IVA</span></p>
        <p class="mt-2 text-center text-sm opacity-75">cobrado cada mes</p>
        <ul class="px-4 mt-8 space-y-2">
          <li>💸 &nbsp;Determina tus deducciones</li>
          <li>📉 &nbsp;Proyecta los impuestos a pagar</li>
          <li>🗂 &nbsp;Administra tus facturas</li>
        </ul>
        <a class="w-4/5 absolute left-0 right-0 bottom-0 mb-4 button--outline rounded-full block"
        href="https://perrodinero.app">Reduce tus impuestos 👉</a>
      </section>

      <section class="p-4 bg-foreground-dark rounded-md shadow-lg pricing-plan relative">
          <span class="absolute top-0 right-0 -mr-4 -mt-2 text-3xl animate-bounce">⭐️</span>
          <h2 class="text-center">Plan Border Collie</h2>
          <hr class="my-4">
          <p class="text-center">¡Eres creyente!</p>
          <p class="mt-6 flex items-center justify-center text-4xl font-bold">$1,119 pesos&nbsp;<span class="text-sm
          opacity-75">+&nbsp;
          IVA</span></p>
          <p class="mt-2 text-center text-sm opacity-75">cobrado cada <strong>año</strong></p>
          <ul class="px-4 mt-8 space-y-2">
            <li>💸 &nbsp;Módulo de impuestos</li>
            <li>✨ &nbsp;Todas las actualizaciones futuras</li>
            <li>🐶 &nbsp;Recomendaciones personalizadas</li>
          </ul>
          <a class="w-4/5 absolute left-0 right-0 bottom-0 mb-4 button--outline rounded-full block"
          href="https://perrodinero.app">¡Confío en
          Perro Dinero! 👉</a>
        </section>
      </section>

      <p>Todos los planes incluyen soporte personalizado.</p>
  </section>
</section>
