---
layout: layouts/base.njk
title: "Ensayos atómicos"
permalink: ensayosatomicos/
---

{% set essaysList = collections.atomic_essays %}
{% set essaysListCount = collections.atomic_essays | length %}

<p class="mb-8">Un ensayo atómico es una idea desarrollada en menos de 250 palabras. Lo puedes leer en menos de 2
  minutos.<p>

<h1 class="text-accent-500 dark:text-accent-dark-500 font-black text-3xl mb-8">Ensayos atómicos ✍️ ({{ essaysListCount
  }} {%
    if essaysListCount > 1 %} ensayos{% else %} ensayo{% endif %})</h1>

<section class="flex flex-col space-y-8 mb-8">
  {% for date, essays in essaysList | reverse | groupby("data.monthYear") %}
    <details {% if loop.first or loop.index0 < 2 %} open {% endif %} class="space-y-8">
      <summary class="cursor-pointer">
        {% set essaysCount = essays | length %}
        {{ date | capitalize }} ({{ essays | length }} {% if essaysCount > 1 %} ensayos{% else %} ensayo{% endif %})
      </summary>
      {% for essay in essays %}
        {% include "micro_essay_item.njk" %}
      {% endfor %}
    </details>
  {% endfor %}
</section>
