---
layout: layouts/base.njk
title: Portafolio de inversiones
description: "Detalles sobre mi portafolio de inversiones; asignación de activos, razonamiento de estas inversiones e ideas para el futuro."
lastUpdated: 2023-03-02
cover_path: img/perro_dinero.png
---

<article class="py-8">
  <h1 class="text-accent-500 dark:text-accent-dark-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
  <time class="text-base text-accent-600 dark:text-accent-dark-600" datetime="{{ lastUpdated | htmlDateString }}">Actualizado el {{ lastUpdated | readableDate }}</time>

  <div class="mt-8">
    <p>
      Mi portafolio está compuesto principalmente por ETFs de Vanguard, algunas acciones individuales, un poco de criptomonedas y algunos activos de renta fija. Fuera de estas inversiones tengo:
    </p>
    <ul>
        <li>• 2/3 de mi fondo de emergencia en deuda gubernamental (Bonddia).</li>
        <li>• 1/3 de mi fondo de emergencia en mi cuenta de débito de Nu (genera intereses).</li>
        <li>• Mi Afore con buenas aportaciones patronales.</li>
        <li>• Plan personal de retiro (PPR) invertido en renta variable, siguiendo al índice S&P500.</li>
    </ul>

    <section>
        <h2>Portafolio actual</h2>
        <p>Esta es la asignación de activos que tengo actualmente. Intento invertir más dinero cada mes; a veces hasta el 50% de mis ingresos, otras veces no me da para invertir.</p>

        {% image 'img/portafolio_perro_dinero_actual.png', 'Distribución de mi portafolio de inversiones.' %}
    </section>

    <section>
        <h2>Sobre los activos</h2>

        <h3>Renta variable</h3>
		<p>Casi todos los activos de renta variable de mi portafolio de inversiones son ETFs de Vanguard. Aquí una breve descripción de cada uno de ellos y cómo aportan al portafolio en general:</p>
		<ul>
            <li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vt"><strong>VT</strong></a>: invierte en el mercado global. Yo veo a este ETF como la "base" de mis inversiones, pues invierte en todo el mundo.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/voo"><strong>VOO</strong></a>: invierte en las 500 compañías de mayor capitalización de Estados Unidos. Entre las principales posiciones o empresas están Apple, Amazon, Alphabet (Google), Meta, Visa y Walmart.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vnq"><strong>VNQ</strong></a>: invierte en compañías de bienes raíces que compran, rentan y administran edificios de oficinas, hoteles y otras propiedades. Es una gran opción para diversificar el riesgo del portafolio porque este ETF se <a href="{{ '/posts/tu-portafolio-de-inversiones-desde-cero/#bienes-raíces-🏢/' }}">puede comportar como bono o acción.</a></p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vea"><strong>VEA</strong></a>: es uno de los ETFs de medio/alto riesgo del portafolio. Este fondo invierte en compañías internacionales pequeñas, medianas y grandes localizadas en Canada, Europa y la región del Pacífico. Las posiciones más dominantes son de empresas como Nestle, Samsung, SAP y Toyota.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vwo"><strong>VWO</strong></a>: el segundo ETF de alto riesgo del portafolio. Invierte en economías emergentes como China, Brazil, Taiwan y Sudáfrica. Lo utilizo para rendimientos a muy largo plazo.</p>
			</li>
            <li>
				<p>📈 <a href="https://finance.yahoo.com/quote/NU/"><strong>NU</strong></a>: la única compañía individual en la que invierto. Actualmente trabajo en Nu, y me encanta todo lo que están haciendo por la industra de servicios financieros. Por eso invierto tanto en ellos.</p>
			</li>
		</ul>

        <h3>Renta fija</h3>
        <p>Los activos de renta fija los migré hace poco de Cetesdirecto a dos ETFs:</p>
        <ul>
            <li>
                <p>🏦 <a href="https://www.blackrock.com/mx/intermediarios/productos/251826/"><strong>CETETRCISHRS</strong></a>: Este ETF invierte en Certificados de Tesorería con duración de menos de 1 año. Paga intereses cada mes.</p>
            </li>
            <li>
                <p>🏦 <a href="https://www.blackrock.com/mx/intermediarios/productos/251830/ishares-spvalmer-mexico-uditrac-fund"><strong>UDITRACISHRS</strong></a>: Este ETF invierte en UDIBONOS de distintos y diversificados periodos de vencimiento. Paga intereses cada mes.</p>
            </li>
        </ul>

        <h3>FIBRAs</h3>
        <ul>
            <li>
                <p>🏢 <a href="https://funo.mx/"><strong>FUNO11</strong></a>: FIBRA con enfoque comercial.</p>
            </li>
            <li>
                <p>🏢 <a href="https://www.fibraprologis.com/en-US"><strong>FIBRAPL14</strong></a>: FIBRA con enfoque industrial.</p>
            </li>
        </ul>

        <h3>Criptomonedas</h3>
        <ul>
            <li>
                <p>⛓️ BTC</p>
            </li>
            <li>
                <p>⛓️ ETH</p>
            </li>
        </ul>
    </section>

	<section>
        <h2>Dudas o sugerencias</h2>
        <p>
            Mi portafolio <strong>no es perfecto</strong> ni tampoco está escrito en piedra. Cualquier duda o sugerencia, podemos <a href="https://twitter.com/PerroDinero">cotorrearla en Twitter</a> 🙌🏼
        </p>
    </section>

  </div>

</article>
