---
layout: layouts/base.njk
title: Portafolio de inversiones
description: "Detalles sobre mi portafolio de inversiones."
lastUpdated: 2020-09-20
---

<article class="py-8">  
  <h1 class="text-accent-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
  <time class="text-base text-accent-600" datetime="{{ lastUpdated | htmlDateString }}">Actualizado el {{ lastUpdated | readableDate }}</time>
  
  <div class="mt-8">
    <p>
      Mi portafolio está compuesto 100% por ETFs de Vanguard. Fuera de estas inversiones tengo:
    </p>
    <ul>
        <li><p>🏦 Mi fondo de emergencia en deuda gubernamental (CETES)</p></li>
        <li><p>🏦 Mi Afore con aportaciones voluntarias</p></li>
    </ul>

    <section>
        <h2>Portafolio objetivo</h2>
        <p>
            Esta es la asignación de activos a la que quiero llegar y en la que quiero permanecer por muchos años.
        </p>

        <canvas data-id="target-portfolio" height="260"></canvas>
    </section>

    <section>
        <h2>Portafolio actual</h2>
        <p>
            Esta es la asignación de activos que tengo actualmente. Cada mes invierto más dinero y siempre lo hago con la finalidad de alcanzar la asignación anterior.
        </p>

        <canvas data-id="current-portfolio" height="260"></canvas>
    </section>

    <section>
        <h2>Sobre los activos</h2>
		<p>Todos los activos de mi portafolio de inversiones son ETFs de Vanguard. Aquí una breve descripción de cada uno de ellos y cómo aportan al portafolio en general:</p>
		<ul>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/voo">VOO</a>: invierte en las 500 compañías más grandes de Estados Unidos y es el principal generador de rendimientos del portafolio. Entre las principales posiciones o empresas están Apple, Amazon, Alphabet (Google), Facebook, Visa y Walmart.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vnq">VNQ</a>: invierte en compañías que compran edificios de oficinas, hoteles y otras propiedades. Es una gran opción para diversificar el riesgo del portafolio porque este ETF se <a href="{{ '/posts/tu-portafolio-de-inversiones-desde-cero/#bienes-raíces-🏢/' }}">puede comportar como bono o acción.</a></p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vea">VEA</a>: es uno de los ETFs de alto riesgo del portafolio. Este fondo invierte en compañías internacionales pequeñas, medianas y grandes localizadas en Canada, Europa y la región del Pacífico. Las posiciones más dominantes son de empresas como Nestle, Samsung, SAP y Toyota.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vwo">VWO</a>: el segundo ETF de alto riesgo del portafolio. Invierte en economías emergentes como China, Brazil, Taiwan y Sudáfrica. Lo utilizo para rendimientos a muy largo plazo.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vym">VYM</a>: este ETF invierte en compañías que pagan un alto porcentaje de dividendos. La parte de VYM es pequeña porque no estoy preocupado por la liquidez en estos momentos.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vgsh">VGSH</a>: son inversiones en renta fija, específicamente en bonos de tesorería de Estados Unidos; son como los Cetes de México.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vtip">VTIP</a>: es la inversión de protección contra la inflación; son como los UDIBONOS de México.</p>
			</li>
		</ul>
    </section>

	<section>
        <h2>Dudas o sugerencias</h2>
        <p>
            Mi portafolio <strong>no es perfecto</strong> ni tampoco está escrito en piedra. Así que te invito a dejar cualquier duda o sugerencia 🙌🏼
        </p>
    </section>

	<div id="disqus_thread" class="mt-8"></div>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
		var disqus_config = function () {
			this.page.url = "https://perrodinero.blog{{ page.url | url }}";
			this.page.identifier = "{{ page.url | url }}";
		};
		
		(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://perrodinero.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		});    
	</script>
	<noscript>Habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios</a>.</noscript>
  </div>
  
</article>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.querySelector('[data-id="target-portfolio"]').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['VOO', 'VNQ', 'VEA', 'VWO', 'VYM', 'VTIP', 'VGSH'],
          datasets: [{
              label: 'Activos',                         
              data: [25, 25, 20, 15, 5, 5, 5],
              backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 50, 15, 0.8)'
              ],
              
              borderColor: 'rgb(255,255,255)',
              borderWidth: 1
          }],
      },
      options: {
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: '#1D853B',
                    fontSize: 14,
                    fontStyle: 'bold',
                    padding: 20
                },
                align: 'center'
            },
            title: {
                display: false,
                fontSize: 36,
                fontColor: '#1D853B',
                fontStyle: 'bold',
                text: 'Portafolio objetivo'
            },
            layout: {
                padding: {
                    top: 25
                }
            }
        },
  });

  var ctx = document.querySelector('[data-id="current-portfolio"]').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['VOO', 'VNQ', 'VEA', 'VWO', 'VYM', 'VTIP', 'VGSH'],
          datasets: [{
              label: 'Activos',                         
              data: [37.31, 19.16, 12.18, 12.81, 4.9, 5.63, 6.86],
              backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 50, 15, 0.8)'
              ],
              
              borderColor: 'rgb(255,255,255)',
              borderWidth: 1
          }],
      },
      options: {
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: '#1D853B',
                    fontSize: 14,
                    fontStyle: 'bold',
                    padding: 20
                },
                align: 'center'
            },
            title: {
                display: false,
                fontSize: 36,
                fontColor: '#1D853B',
                fontStyle: 'bold',
                text: 'Portafolio actual'
            },
            layout: {
                padding: {
                    top: 25
                }
            }
        },
  });
</script>