---
layout: layouts/base.njk
title: Portafolio de inversiones
description: "Detalles sobre mi portafolio de inversiones."
lastUpdated: 2020-11-28
---

<article class="py-8">  
  <h1 class="text-accent-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
  <time class="text-base text-accent-600" datetime="{{ lastUpdated | htmlDateString }}">Actualizado el {{ lastUpdated | readableDate }}</time>
  
  <div class="mt-8">
    <p>
      Mi portafolio está compuesto por ETFs de Vanguard y activos de renta fija en Cetesdirecto. Fuera de estas inversiones tengo:
    </p>
    <ul>
        <li><p>🏦 Mi fondo de emergencia en deuda gubernamental (Bonddia)</p></li>
        <li><p>🏦 Mi Afore con aportaciones voluntarias</p></li>
    </ul>

    <section>
        <h2>Portafolio objetivo</h2>
        <p>
            Esta es la asignación de activos a la que quiero llegar y en la que quiero permanecer por muchos años.
        </p>

        <canvas data-id="target-portfolio" height="260"></canvas>
    </section>

    <section>
        <h2>Portafolio actual</h2>
        <p>
            Esta es la asignación de activos que tengo actualmente. Cada mes invierto más dinero y siempre lo hago con la finalidad de alcanzar la asignación anterior.
        </p>

        <canvas data-id="current-portfolio" height="260"></canvas>
    </section>

    <section>
        <h2>Sobre los activos</h2>

        <h3>Renta variable</h3>
		<p>Todos los activos de renta variable de mi portafolio de inversiones son ETFs de Vanguard. Aquí una breve descripción de cada uno de ellos y cómo aportan al portafolio en general:</p>
		<ul>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/voo"><strong>VOO</strong></a>: invierte en las 500 compañías más grandes de Estados Unidos y es el principal generador de rendimientos del portafolio. Entre las principales posiciones o empresas están Apple, Amazon, Alphabet (Google), Facebook, Visa y Walmart.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vnq"><strong>VNQ</strong></a>: invierte en compañías que compran edificios de oficinas, hoteles y otras propiedades. Es una gran opción para diversificar el riesgo del portafolio porque este ETF se <a href="{{ '/posts/tu-portafolio-de-inversiones-desde-cero/#bienes-raíces-🏢/' }}">puede comportar como bono o acción.</a></p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vea"><strong>VEA</strong></a>: es uno de los ETFs de alto riesgo del portafolio. Este fondo invierte en compañías internacionales pequeñas, medianas y grandes localizadas en Canada, Europa y la región del Pacífico. Las posiciones más dominantes son de empresas como Nestle, Samsung, SAP y Toyota.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vwo"><strong>VWO</strong></a>: el segundo ETF de alto riesgo del portafolio. Invierte en economías emergentes como China, Brazil, Taiwan y Sudáfrica. Lo utilizo para rendimientos a muy largo plazo.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vgt"><strong>VGT</strong></a>: este ETF invierte en empresas del sector de tecnología específicamente. Muchas de las empresas de este ETF se repiten en VOO, así que ajustaré los porcentajes pronto para no tener tanto invertido en un solo sector.</p>
			</li>
			<li>
				<p>📈 <a href="https://investor.vanguard.com/etf/profile/overview/vht"><strong>VHT</strong></a>: son inversiones en el sector salud. Entre las principales empresas están: Johnson & Johnson, UnitedHealth Group y Pfizer.</p>
			</li>			
		</ul>

        <h3>Renta fija</h3>
        <p>Los activos de renta fija los tengo todos en Cetesdirecto, entre CETES y UDIBONOS.</p>
        <ul>
            <li>
                <p>🏦 <strong>CETES</strong>: Certificados de Tesoreria de México. Es como prestarle dinero al gobierno— seguros, pero con bajos rendimientos.</p>
            </li>
            <li>
                <p>🏦 <strong>UDIBONOS</strong>: Estos son bonos para protección contra la inflación. También los compro en Cetesdirecto.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Siguientes pasos:</h2>
        <ul>
            <li>⏳ Invertir en SOFIPOS para obtener beneficios fiscales</li>
            <li>⏳ Aprender sobre valuaciones para invertir en empresas individuales que no tengo en ningún ETF</li>
            <li>⏳ Investigar/calcular corelación entre VOO, VGT y VTH para ajustar porcentajes</li>
        </ul>
    </section>

	<section>
        <h2>Dudas o sugerencias</h2>
        <p>
            Mi portafolio <strong>no es perfecto</strong> ni tampoco está escrito en piedra. Así que te invito a dejar cualquier duda o sugerencia 🙌🏼
        </p>
    </section>

	<div id="disqus_thread" class="mt-8"></div>
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
		var disqus_config = function () {
			this.page.url = "https://perrodinero.blog{{ page.url | url }}";
			this.page.identifier = "{{ page.url | url }}";
		};
		
		(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://perrodinero.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		});    
	</script>
	<noscript>Habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios</a>.</noscript>
  </div>
  
</article>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ctx = document.querySelector('[data-id="target-portfolio"]').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['VOO', 'VNQ', 'VEA', 'VWO', 'VGT', 'VHT', 'CETES', 'UDIBONOS'],
          datasets: [{
              label: 'Activos',                         
              data: [25, 20, 15, 10, 10, 10, 5, 5],
              backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 50, 15, 0.8)'
              ],
              
              borderColor: 'rgb(255,255,255)',
              borderWidth: 1
          }],
      },
      options: {
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: '#1D853B',
                    fontSize: 14,
                    fontStyle: 'bold',
                    padding: 20
                },
                align: 'center'
            },
            title: {
                display: false,
                fontSize: 36,
                fontColor: '#1D853B',
                fontStyle: 'bold',
                text: 'Portafolio objetivo'
            },
            layout: {
                padding: {
                    top: 25
                }
            }
        },
  });

  var ctx = document.querySelector('[data-id="current-portfolio"]').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['VOO', 'VNQ', 'VEA', 'VWO', 'VGT', 'VHT', 'CETES', 'UDIBONOS'],
          datasets: [{
              label: 'Activos',                         
              data: [27.29, 17.12, 14.52, 9.57, 13.56, 8.58, 4.47,5.61],
              backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 50, 15, 0.8)'
              ],
              
              borderColor: 'rgb(255,255,255)',
              borderWidth: 1
          }],
      },
      options: {
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: '#1D853B',
                    fontSize: 14,
                    fontStyle: 'bold',
                    padding: 20
                },
                align: 'center'
            },
            title: {
                display: false,
                fontSize: 36,
                fontColor: '#1D853B',
                fontStyle: 'bold',
                text: 'Portafolio actual'
            },
            layout: {
                padding: {
                    top: 25
                }
            }
        },
  });
</script>