---
layout: layouts/base.njk
date: Last Modified
---

<h1 class="font-black">Mi portafolio</h1>
<p class="text-base text-accent-600">
  Actualizado el <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</p>

<h2 class="text-center">Objetivo</h2>

{% for assetTargetPair in updatePortfolio.assetAllocation %}
  {{ assetTargetPair.asset }}, {{ assetTargetPair.target }}
  <br>
{% endfor %}

<h2 class="text-center">Actual</h2>

{% for assetTargetPair in updatePortfolio.assetAllocation %}
  {{ assetTargetPair.asset }}, {{ assetTargetPair.current }}
  <br>
{% endfor %}