---
layout: layouts/base.njk
title: "Archivo"
---

{% set postsList = collections.publishables %}
{% set postsListCount = collections.publishables | length %}

<h1 class="text-accent-500 dark:text-accent-dark-500 font-black text-3xl mb-8">Archivo 📂 ({{ postsListCount }} posts)</h1>

<section class="flex flex-col space-y-8 mb-8">
  {% for date, posts in postsList | reverse | groupby("data.monthYear") %}
    <details {% if loop.first or loop.index0 < 5 %} open {% endif %} class="space-y-8">
      <summary class="cursor-pointer">
        {{ date | capitalize }} ({{ posts | length }} posts)
      </summary>
      <div class="pb-2 px-4 sm:px-6 lg:pb-4 lg:px-8">
        <div class="pt-4 grid gap-16 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
          {% for post in posts %}
            {% include "postitem.njk" %}
          {% endfor %}
        </div>
      </div>
    </details>
  {% endfor %}
</section>