---
layout: layouts/base.njk
---

{% set postsList = collections.posts %}
{% set postsListCount = collections.posts | length %}

<section class="flex flex-col my-8 space-y-16">
  {% for post in postsList | reverse %}
    {% include "postitem.njk" %}
  {% endfor %}
</section>