---
layout: layouts/base.njk
title: Gracias por suscribirte
description: "Agradecimiento por suscribirte a Perro Dinero"
cover_path: img/perro_dinero.png
---

<article class="pb-8 lg:w-3/4 mx-auto">
    <h1 class="mb-8 text-accent-500 dark:text-accent-dark-500 font-black text-4xl md:text-5xl">¡Gracias por suscribirte 👊🏼!</h1>
    <p>Pronto recibirás un correo para confirmar tu cuenta. Ya confirmada empezarás a recibir mis correos con historias, experiencias y una que otra novedad.</p>
</article>