---
pagination:
  data: collections
  size: 1
  alias: tag  
layout: layouts/base.njk
permalink: /tags/{{ tag }}/
---

<h1 class="my-8 capitalize">{{ tag }}</h1>

{% set tagList = collections[ tag ] %}

<section class="flex flex-col my-8 space-y-16">
  {% for post in tagList | reverse %}
    <a class="no-underline" href="{{ post.url | url }}">
    <h2 class="font-black text-accent-500">{{ post.data.title }} </h2>
    <time class="text-sm text-accent-500 opacity-75" datetime="{{ post.data.published_at | htmlDateString }}">{{ post.data.published_at | readableDate }}</time>
    <p class="mt-4">{{ post.data.description }}</p>  
  </a>
  {% endfor %}
</section>