<section id="blog" class="w-4/5 lg:w-1/2 mx-auto py-4">
  <div class="relative z-10">    
    <h2 class="transform rotate-6 pr-4 text-primary font-bold inline-block bg-background text-shadow-fg">Blog ({{ postsListCount }})</h2>
    <hr class="border-t-1 -pl-6 absolute w-full divider border-secondary">    
  </div>
  
  {% include "postslist.njk" %}
  
</section>