 <section id="social" class="w-4/5 lg:w-1/2 mx-auto py-4">  
    <div class="relative z-10 mb-4">
      <h2 class="transform -rotate-6 pr-4 text-primary font-bold inline-block bg-background text-shadow-bg">Social</h2>
      <hr class="border-t-1 -pl-6 absolute w-full divider border-secondary">    
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-3">      
      {% social "twitter", "I tweet about software 💭", "https://twitter.com/DavidOjedaL" %}
        
      {% social "DEV", "I write about software ✍🏼", "https://dev.to/david_ojeda" %}

      {% social "github", "I code 👨‍💻", "https://github.com/davidojedalopez" %}

      {% social "linkedin", "I exist 😁", "https://www.linkedin.com/in/david-ojeda-lopez/" %}

      {% social "instagram", "She barks 🐶", "https://www.instagram.com/pawsome_nina/" %}
    </div>
    
  </section>