<div class="dark-mode-toggle hidden">
  <label for="dark-mode-toggle" class="sr-only">Dark mode toggle</label>
  <input type="checkbox" id="dark-mode-toggle" class="toggle">
  <div class="emoji"></div>  
  <span for="dark-mode-toggle" class="well"></span>
</div>