<a class="inline-block no-underline hover:bg-accent-100 dark:bg-foreground-dark dark:hover:bg-gray-700 p-4 rounded" href="{{ post.url | url }}"><div class="flex flex-col sm:flex-row space-y-4 sm:space-x-4"><img src="{{ post.data.cover_path | url }}" alt="{{ post.data.cover_alt }}" width="250" class="" /><div class="text-left"><h2 class="text-2xl font-black text-accent-500 dark:text-accent-dark-500 py-0">{{ post.data.title }} </h2><time class="text-sm text-accent-600 dark:text-accent-dark-600" datetime="{{ post.data.published_at | htmlDateString }}">{{ post.data.published_at | readableDate }}</time></div></div></a>


