<footer class="py-8 flex space-x-8 mx-auto w-4/5 lg:w-1/2">
  <span class="text-secondary">Copyleft</span>
  <span class="text-secondary">Email me at <a href="mailto: davidojeda@hey.com">davidojeda@hey.com 👋</a> 
</footer>