<header class="py-8 w-4/5 lg:w-1/2 mx-auto">
  <a class="header-button hover:border-primary hover:border-2" href="#">🏡 Home</a>
  <a class="header-button hover:border-primary hover:border-2" href="{{ '/posts' | url }}">📝 All posts</a>
</header>
