<div class="relative pt-4 pb-10 px-4 sm:px-6 lg:pt-6 lg:pb-14 lg:px-8">
  <div class="absolute inset-0">
    <div class="h-1/3 sm:h-2/3"></div>
  </div>
  <div class="relative max-w-7xl mx-auto">

    <h1 class="text-primary dark:text-primary-dark text-3xl tracking-tight font-extrabold sm:text-4xl">
      Publicaciones recientes
    </h1>

    <div class="mt-6 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {% for item in publishables | reverse %}
        {% include 'highlighted_item.njk' %}
      {% endfor %}
    </div>
  </div>
</div>