<a class="no-underline hover:bg-accent-100 dark:hover:bg-foreground-dark p-4 rounded" href="{{ post.url | url }}">
  <div class="flex">    
    <h2 class="font-black w-full text-accent-500 dark:text-accent-dark-500">{{ post.data.title }} </h2>
    {% if postsList[maxPosts - 1] === post %}
      <span class="flex h-3 w-3">
        <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-accent-400 dark:bg-accent-dark-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-accent-500 dark:bg-accent-dark-500"></span>
      </span>
    {% endif %}    
  </div>
  <time class="text-sm text-accent-600 dark:text-accent-dark-600" datetime="{{ post.data.published_at | htmlDateString }}">{{ post.data.published_at | readableDate }}</time> <span class="px-2 text-sm text-accent-600 dark:text-accent-dark-600">·</span> <span class="text-sm text-accent-600 dark:text-accent-dark-600">Lectura de {{ post | readingTime }}</span>  
  {% if post.data.last_updated_at %} 
    <span class="px-2 text-sm text-accent-600 dark:text-accent-dark-600">·</span> <span class="text-sm text-accent-600 dark:text-accent-dark-600">Actualizado el </span><time class="text-sm text-accent-600 dark:text-accent-dark-600" datetime="{{ published_at | htmlDateString }}">{{ post.data.last_updated_at | readableDate }}</time> 
  {% endif %}
  <p>{{ post.data.description }}</p>  
</a>