<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="PerroDinero"
data-lang="es" data-dnt="true" data-size="large" data-show-count="false">Compartir</a>

<a href="https://twitter.com/PerroDinero?ref_src=twsrc%5Etfw" class="twitter-follow-button"
  data-size="large" data-lang="es" data-dnt="true" data-show-count="false">
Sígueme en @PerroDinero
</a>
