---
layout: layouts/base.njk
title: ¡Gracias por tu compra!
cover_path: img/perro_dinero.png
permalink: "ebook/sale/{{ page.fileSlug }}/"
---

<article class="pb-8 lg:w-3/4 mx-auto">
  <h1 class="mb-8 text-accent-500 dark:text-accent-dark-500 font-black text-4xl md:text-5xl">¡Gracias por tu compra! 🎉</h1>

  {% image 'img/posts/covers/perras_finas.jpg', 'Nina y Alyx.' %}

  <p>Compraste el paquete <span class="text-accent-500 dark:text-accent-dark-500">Border Collie</span>, que incluye:</p>
  <ul>
    <li class="ml-4">👉 E-book con todo lo que he aprendido sobre finanzas personales.</li>
    <li class="ml-4">👉 Plantillas, hojas de trabajo y otros documentos.</li>
    <li class="ml-4">👉 Acceso a los primeros borradores del e-book, con la posibilidad de comentar y sugerir cambios.</li>
    <li class="ml-4">👉 3 sesiones de asesoría sobre finanzas personales (ahorro, inversiones, impuestos, etc).</li>
    <li class="ml-4">👉 Video personalizado de agradecimiento.</li>  
    <li class="ml-4">👉 Documentación, escrita y en video, de todo el proceso de creación del e-book.</li>  
  </ul>

  {% include "ebook/common_sale_success.njk" %}

</section>