<section style="grid-area: banner" class="mt-4 mb-6 flex flex-col md:flex-row place-items-center justify-center space-y-4 md:space-y-0 space-x-0 md:space-x-4">
  <p class="sm:hidden text-xl font-bold text-center">🤩 ¡MI EBOOK ESTÁ<br>EN PREVENTA! 🤩</p>
  <p class="hidden sm:inline text-xl font-bold">🤩 ¡MI EBOOK ESTÁ EN PREVENTA! 🤩</p>
  <div class="animate-pulse origin-bottom-left transition -rotate-3 hover:rotate-0">
    <a class="gumroad-button" href="https://perrodinero.gumroad.com/l/perro-dinero-ebook/0llhk3l">Comprar en</a>
  </div>
</section>