{% extends "calls_to_action/newsletter.njk" %}

{% block newsletter_header %}
<p class="text-center mb-4 text-2xl font-black">¡Si te gustó este contenido,<br>también disfrutarás mi <span class="text-accent-500 dark:text-accent-dark-500">newsletter</span>!</p>
{% endblock %}