{% extends "calls_to_action/newsletter.njk" %}

{% block newsletter_header %}
<h2 class="mb-4 text-center font-black">Actualizaciones <span class="text-accent-500 dark:text-accent-dark-500">perronas</span> 🐕 💌</h2>
{% endblock %}