{% extends "calls_to_action/newsletter.njk" %}

{% block newsletter_header %}
<p class="text-center text-3xl font-extrabold tracking-tight sm:text-4xl">Si te gustó este contenido,<br>también disfrutarás mi <span class="text-accent-dark-500">newsletter 💌</span></p>
{% endblock %}