{% extends "calls_to_action/newsletter.njk" %}

{% block newsletter_header %}
<h2 class="text-center text-3xl font-extrabold tracking-tight sm:text-4xl">Actualizaciones <span class="text-accent-dark-500">perronas</span> 💌</h2>
{% endblock %}