  <p>Tu voto de confianza significa mucho para mí.</p>

  <blockquote>💡 Recuerda que para que este proyecto se haga realidad necesito al menos 50 personas interesadas.</blockquote>

  <p>¿Quieres ayudarme a lograr el objetivo, y al mismo tiempo <span class="text-accent-500 dark:text-accent-dark-500">ganar algo de dinero?</span></p>
  <h2>¡Puedes convertirte en mi afiliado!</h2>
  <p>Te doy un enlace único y especial para que compartas con quien quieras. Cada que alguien complete una compra de mi e-book con tu enlace, <span class="text-accent-500 dark:text-accent-dark-500">¡tú recibes el 50% de esa venta!</span></p>
  <p>Lo único que tienes que hacer es <a href="https://perrodinero.gumroad.com/affiliates">registrarte y crear una cuenta aquí</a>, para que te pueda pagar. Una vez creada tu cuenta, tendrás acceso a tu enlace de afiliado 💪.</p>

  <h2>¿Qué sigue?</h2>
  <p>La preventa finaliza el 13 de septiembre. Ese día te notificaré al correo con el que hiciste la compra sobre los siguientes pasos. Solo hay dos posibilidades:</p>
  <ul>
    <li class="ml-4">🚀 Conseguimos las 50 ventas y el proyecto comienza a rodar.</li>
    <li class="ml-4">😕 No se genera suficiente interés y te regreso tu dinero.</li>
  </ul>
  <p class="text-accent-500 dark:text-accent-dark-500">¡Ayúdame a que pase lo primero!</p>