<!doctype html>
<html lang="es" class="border-t-4 border-b-4 border-accent-500">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="title" content="{{ renderData.title or title or metadata.title }}">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">

    <meta name="author" content="{{ metadata.author.name }}">
    <meta name="keywords" content="Finanzas, Finanzas persoonales, inversiones, presupuestos, impuestos, deudas">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:image" content="{{ metadata.url }}img/perro_dinero.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ metadata.url }}">
    <meta property="twitter:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="twitter:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="twitter:image" content="{{ metadata.url }}img/perro_dinero.png">
    <meta name="twitter:site" content="@PerroDinero">
    <meta name="twitter:creator" content="@PerroDinero">

    <meta name="theme-color" content="#1D853B">

    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com" rel="preconnect" crossorigin>
    
    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}" >
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | url }}">    
    
  </head>
  <body class="bg-background w-10/12 md:w-8/12 xl:w-6/12 mx-auto">

      <header class="mt-4">
        <a href="/" class="no-underline">
          <span class="text-5xl font-black font-logo">perro dinero</span><div class="square-logo"></div>
        </a>
      </header>

      <main class="">
        {{ content | safe }}
      </main>    

      <footer class="flex justify-around py-4 px-8 bg-accent-100 rounded-tl-full rounded-tr-full">
        <a href="/" class="no-underline">
          <span class="text-2xl md:text-3xl font-black font-logo">perro dinero</span><div class="square-logo square-logo--small"></div>
        </a>

        <div class="flex space-x-4 md:space-x-16">
          <a href="https://twitter.com/PerroDinero">
            <img class="inline" src="{{ '/img/twitter.png' | url }}" width="24" alt="Twitter logo in black. Abre perfil de Perro Dinero en Twitter.">
          </a>

          <a href="mailto:david@perrodinero.blog" target="_blank">
            <img class="inline-block" src="{{ '/img/mail.png' | url }}" width="24" alt="Ícono de un correo en color negro. Abre tu aplicación de correo por defecto para enviarme un correo.">
          </a>          
        </div>
      </footer>  
    
    <script src="{{ '/assets/main.js' | url }}"></script>
  </body>
</html>
