---
layout: layouts/base.njk
permalink: "libros/{{ page.fileSlug }}/"
---

<article class="py-8">

  <div class="flex items-center">
    <div>
      <h1 class="text-accent-500 dark:text-accent-dark-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
      <span class="opacity-75">Escrito por {{ author }}</span>
      <br>
      <time class="text-base text-accent-600 dark:text-accent-dark-600" datetime="{{ published_at | htmlDateString }}">{{ published_at | readableDate }}</time> <span class="px-2 text-base text-accent-600 dark:text-accent-dark-600">·</span> <span class="text-base text-accent-600 dark:text-accent-dark-600">Lectura de {{ content | readingTime }}</span>
    </div>
    {% if cover_path %}
      {% image cover_path | url, cover_alt, false, '', 'eager' %}
    {% endif %}
  </div>

  <div class="mt-8">
    {{ content | safe }}

    <p class="font-bold pt-4 text-accent-500 dark:text-accent-dark-500">Muchas gracias por leerme {{ ['💙', '💚', '💛', '❤️', '🖤'] | random }}<p>

    <div class="hidden" data-id="share-section">
      <p>Compartir este post ayudará a más personas a mejorar su vida y sus finanzas, hay que echarnos la mano:</p>
      <button class="button block" data-id="share">Compartir 📲 </button>
    </div>

    <h2>Pasajes</h2>

    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 items-center">
      {% for quote in quotes %}
        <div class="ring-2 ring-black dark:ring-foreground-dark ring-opacity-5 px-6 py-4 text-base border-accent-500 flex flex-col leading-snug transform {{ ['-rotate-4', '-rotate-3', '-rotate-2', '-rotate-1', 'rotate-0', 'rotate-1', 'rotate-2', 'rotate-3', 'rotate-4'] | random }}">
          <span class="mb-4">{{ quote }}</span>
        </div>
      {% endfor %}
    </section>
  </div>

  {% if newsletter_cta %}
    <hr>
    {% include "calls_to_action/newsletter.njk" %}
  {% endif %}

  {% set booksListCount = collections.books | length %}
  {% if booksListCount > 1 %}
    <div class="flex flex-col mt-16 p-4">
      <p class="opacity-75">Otros libros que pueden interesarte 👇🏼</p>

      {% set post = collections.books | getPreviousCollectionItem(page) %}
      {% if post %}
          {% include "postitem_no_description.njk" %}
      {% endif %}

      {% set post = collections.books | getNextCollectionItem(page) %}
      {% if post %}
          {% include "postitem_no_description.njk" %}
      {% endif %}
    </div>
  {% endif %}
</article>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    if(navigator.share) {
      document.querySelector('[data-id="share-section"]').classList.toggle('hidden');
    }

    const shareButton = document.querySelector('[data-id="share"]');
    if(!shareButton) {
      return
    }

    shareButton.addEventListener('click', (e) => {
      if(navigator.share) {
        navigator.share({
          title: document.title,
          url: document.querySelector('link[rel=canonical]') ? document.querySelector('link[rel=canonical]').href : document.location.href
        }).then(() => {
          // Not feeling like showing something to confirm.
        }).catch((error) => {
          console.error('Error sharing post ☹️', error);
        });
      } else {
        // Add fallback, if needed.
      }
    });
  });
</script>