---
layout: layouts/base.njk
permalink: "ensayosatomicos/{{ page.fileSlug }}/"
---

<article class="pt-8">
    <h1 class="break-normal text-center text-accent-500 dark:text-accent-dark-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
    <div class="mt-8">
        {{ content | safe }}
    </div>

    <hr>

    <div class="pb-4">
        <p class="mb-4" data-id="share">Puedes <strong>compartir este micro ensayo como una imagen</strong> desde el celular dejando presionada la foto y seleccionando la opción de compartir 📲 </p>
        <img class="mx-auto" src="{{ share_image_url | url }}" alt="Micro ensayo en formato imagen" width="150">
        {% include "calls_to_action/newsletter.njk" %}
    </div>


</article>
