---
layout: layouts/base.njk
permalink: "posts/{{ page.fileSlug }}/"
---

<article class="py-8">
  {% if cover_path %}
    <img class="rounded mx-auto mb-4" src="{{ cover_path | url }}">  
  {% endif %}  
  <h1 class="text-accent-500 font-black">{{ title }}</h1>
  <time class="text-base text-accent-500" datetime="{{ published_at | htmlDateString }}">{{ published_at | readableDate }}</time>
  
  <div class="mt-8">
    {{ content | safe }}
  </div>
</article>