---
layout: layouts/base.njk
permalink: "posts/{{ page.fileSlug }}/"
---

<article class="py-8">
  {% if cover_path %}
    <div class="mb-4 gradient-background rounded mx-auto w-full max-w-screen-sm h-auto">
      <img src="{{ cover_path | url }}" alt="{{ cover_alt }}" class="relative -z-1" />
    </div>
  {% endif %}
  <h1 class="text-accent-500 font-black text-4xl md:text-5xl">{{ title }}</h1>
  <time class="text-base text-accent-600" datetime="{{ published_at | htmlDateString }}">{{ published_at | readableDate }}</time> <span class="px-2 text-base text-accent-600">·</span> <span class="text-base text-accent-600">Lectura de {{ content | readingTime }}</span>
  
  <div class="mt-8">
    {{ content | safe }}

    <div class="hidden" data-id="share-section">
      <p>Compartir este post ayudará a más personas a mejorar su vida y sus finanzas, hay que echarnos la:</p>
      <button class="button block" data-id="share">Compartir 📲 </button>
    </div>
  </div>

  {% if newsletter_cta %}
    <hr>
    <div class="mt-8 p-4 rounded-lg bg-accent-100">
      <p class="mb-4 font-black">¡Si te gustó este contenido también disfrutarás mi newsletter!</p>
      <ul>
        <li class="mb-4">Nudismo financiero 😳</li>
        <li class="mb-4">Historias personales, de éxito y fracaso 📈📉</li>
        <li class="mb-4">Opiniones de libros, apps y hechos modernos 📚📰</li>
        <li class="mb-4">Recursos para enriquecer la mente y la cartera 🧠💰</li>
        <li class="mb-4">Directo en tu correo 📬</li>
        <li class="font-black">Una vez por semana— Cero spam 🚫</li>
      </ul>
      <iframe src="https://perrodinero.substack.com/embed" class="mx-auto w-64" frameborder="0" scrolling="no" title="Widget de Substack, el servicio para newsletters que utilizo." same></iframe>
    </div>
      
    
  {% endif %}

  {% if has_affiliate_links %}
    <small class="opacity-50">Este post tiene enlaces de afiliado. Me dan una comisión si compras con mi enlace, pero a tí te cuesta lo mismo. Nunca recomiendo nada que no haya probado yo mismo.</small>
  {% endif %}

  <div id="disqus_thread" class="mt-8"></div>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var disqus_config = function () {
        this.page.url = "https://perrodinero.blog{{ page.url | url }}";
        this.page.identifier = "{{ page.url | url }}";
      };
      
      (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://perrodinero.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    });    
  </script>
  <noscript>Habilita JavaScript para ver los <a href="https://disqus.com/?ref_noscript">comentarios</a>.</noscript>


  <div class="flex flex-col mt-16 p-4">
    <p class="opacity-75">Otros posts que pueden interesarte 👇🏼</p>

    {% set post = collections.posts | getPreviousCollectionItem(page) %}
    {% if post %}
        {% include "postitem_no_description.njk" %}
    {% endif %}

    {% set post = collections.posts | getNextCollectionItem(page) %}
    {% if post %}
        {% include "postitem_no_description.njk" %}
    {% endif %}
  </div>

</article>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    if(navigator.share) {
      document.querySelector('[data-id="share-section"]').classList.toggle('hidden');
    }

    const shareButton = document.querySelector('[data-id="share"]');
    if(!shareButton) {
      return
    }

    shareButton.addEventListener('click', (e) => {
      if(navigator.share) {
        navigator.share({
          title: document.title,
          url: document.querySelector('link[rel=canonical]') ? document.querySelector('link[rel=canonical]').href : document.location.href
        }).then(() => {
          // Not feeling like showing something to confirm.
        }).catch((error) => {
          console.error('Error sharing post ☹️', error);
        });
      } else {
        // Add fallback, if needed.
      }
    });
  });
</script>