.blog-post {
  min-height: 80vh;
}

@screen lg {
  .blog-post {
    
  }
}

.blog-post h1 {
  @apply text-4xl;
}

.blog-post h2 {
  @apply text-2xl mt-8 mb-4 text-primary;
}

.blog-post h3 {
  @apply text-xl mt-8 mb-4 text-secondary;
}

.blog-post p {
  @apply mb-6;
}

.blog-post li {
  @apply mb-2;
}

.blog-post ol {
  list-style: decimal;  
}

.blog-post ul {
  @apply mb-4;
}

.blog-post ul li, 
.blog-post ol li {
  @apply ml-4 text-secondary text-lg list-inside;  
}

.blog-post ul li::before {
  content: "🐶 "
}

.blog-post ul li li::before {
  content: "🐕 "
}

/* TOC styles */
.table-of-contents li {
  display: block;
  counter-increment: list-item; 
  @apply text-tertiary;  
}

.table-of-contents ol {
  counter-reset: list-item; 
}

.table-of-contents li:before {
  content: counters(list-item,'.') ' ';
  @apply text-tertiary ;
}
/* End TOC styles */

.blog-post-content > p:first-of-type::first-letter {
  @apply text-4xl text-tertiary pr-1;
}

.table-of-contents * {
  @apply ml-1 text-tertiary;  
}

.blog-post details {
  @apply py-4;
}

.blog-post summary {
  @apply outline-none text-tertiary cursor-pointer;
}

.blog-post blockquote {
  @apply m-4 bg-tertiary rounded-sm p-4;
}

.blog-post blockquote p {
  @apply text-background mb-0;
}

.blog-post strong {
  @apply text-tertiary;
}

.blog-post hr {
  @apply my-4 border-primary;
}

.blog-post .direct-link {
  @apply text-base text-tertiary;
}

.blog-post a {
  @apply text-secondary;
}

.blog-post a:hover {
  @apply text-primary;
}