article p {
  @apply mb-4;
}

article a:hover {
  @apply text-accent-500 dark:text-accent-dark-500;
}

article ul {
  @apply pl-4;
}

article ul li {
  @apply my-4;
}

article ol {
  list-style-type: decimal;
}

article h2,
article h3,
article h4 {
  @apply text-accent-500 dark:text-accent-dark-500;
  @apply pt-8;
  @apply pb-4;
  @apply font-black;
}

article h3,
article h4 {
  @apply text-accent-500 dark:text-accent-dark-500;
}

article h4 {
  @apply py-4;
}

article img,
article video {
  @apply mx-auto;
}

article video {
  @apply mb-4;
}

article blockquote {
  @apply ml-4;
  @apply my-8;
  @apply p-4;
  @apply border-l-4;
  @apply border-b;
  @apply border-accent-500 dark:border-accent-dark-500;
  @apply bg-accent-100 dark:bg-foreground-dark;
  @apply rounded;
}

article blockquote p {
  @apply text-xl;
  @apply mb-0;
}

article blockquote p::after {
  /* content: " 💬" */
}

article details {
  @apply border-l-4;
  @apply border-b;
  @apply border-accent-500 dark:border-accent-dark-500;
  @apply rounded;
  @apply p-4;
  @apply mb-8;
  width: fit-content;
  min-width: fit-content;
}

article strong {
  @apply font-bold text-accent-500 dark:text-accent-dark-500;
}

article div > ol {
  @apply pl-8;
  @apply mb-8;
}

article div > ul {
  @apply mb-8;
}

article code {
  @apply bg-gray-300;
}

article p > a,
article li > a {
  @apply bg-accent-100 dark:bg-foreground-dark;
  @apply rounded-t px-1 pt-1;
}

/* TOC styles */
article details {
  @apply dark:text-primary-dark;
  @apply w-full;
  @apply w-4/5;
}

article details summary {
  @apply font-black;
  @apply cursor-pointer;
}

article .table-of-contents a {
  @apply dark:text-primary-dark;
  @apply inline;
  @apply no-underline;
  @apply mb-2;
  @apply rounded-none bg-transparent dark:bg-transparent;
}

article .table-of-contents ol {
  counter-reset: list-item-toc 0;
  @apply pl-4;
}

article .table-of-contents li::before {
  content: counters(list-item-toc,'.') '. ';
  counter-increment: list-item-toc;
}

article .table-of-contents li {
  display: block;
}
/* End TOC styles */

article table {
  @apply ring-1 ring-black dark:ring-white ring-opacity-10 bg-white dark:bg-foreground-dark mx-auto mt-4 mb-8;
}

article th {
  @apply bg-accent-100 dark:bg-foreground-dark border text-center px-4 py-4;
}

article td {
  @apply border p-3 text-center;
}

.gradient-background {
  background: linear-gradient(0deg, rgba(88,100,116,1) 0%, transparent 30%);
}

/* Algolia search */
.aa-hit--title {
  @apply text-2xl !important;
  @apply dark:text-primary-dark !important;
}

.aa-hit--description {
  @apply leading-snug !important;
  @apply text-lg !important;
  @apply dark:text-primary-dark !important;
}

.aa-dataset-hits {
  @apply dark:bg-foreground-dark dark:text-primary-dark !important;
}

.aa-hit--highlight {
  @apply text-accent-500 dark:text-accent-dark-500 !important;
  @apply bg-accent-100 dark:bg-foreground-dark !important;
}

.aa-suggestion {
  @apply dark:hover:bg-background-dark !important;
}

input[type="search"]::placeholder {
  @apply dark:text-foreground-dark;
}

input[type="search"] {
  @apply dark:text-black;
}

.dark-mode-toggle {
  @apply relative w-12;
}
.dark-mode-toggle .well {
  @apply cursor-pointer block bg-foreground-dark dark:bg-primary-dark h-4 rounded-full;
}
.dark-mode-toggle .toggle {
  @apply border-0 opacity-0 outline-none w-full h-full bg-transparent absolute cursor-pointer z-50;
}
.dark-mode-toggle .toggle ~ .emoji:before {
  content: "\01F31A";
  @apply absolute -left-5 z-10 text-4xl;
  top: -11px;
  transition: 0.2s;
}
.dark-mode-toggle .toggle:checked ~ .emoji:before {
  content: "\01F31E";
  @apply -ml-5;
  left: 100%;
}
